.root {
    -fx-font-size: 12px;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -scheduler-info-color: forestgreen; /* #228b22, Hue: 120, Saturation: 60, Lightness: 33 */
    -scheduler-info-color-light:  derive(-scheduler-info-color, 40%);
    -scheduler-info-color-lighter:  derive(-scheduler-info-color, 90%);
    -scheduler-info-color-dark: derive(-scheduler-info-color, -40%);
    -scheduler-info-gradient: linear-gradient(-scheduler-info-color-light, -scheduler-info-color-dark);
    -fx-accent: #00c600; /* Hue: 120, Saturation: 100, Lightness: 39 */
    -fx-default-button: #abecab; /* Hue: 120, Saturation: 64, Lightness: 80 */
    -fx-focus-color: #03cd03; /* Hue: 120, Saturation: 97, Lightness: 41 */
    -fx-faint-focus-color: #03cd0322; /* Hue: 120, Saturation: 97, Lightness: 41, Transparency: 13 */
    -fx-cell-hover-color: #c8f3c8; /* Hue: 120, Saturation: 64, Lightness: 87 */
    -fx-page-indicator-hover-border: #a9e4a9; /* Hue: 120, Saturation: 52, Lightness: 78 */
    -scheduler-progress-gradient: linear-gradient(-scheduler-info-color-lighter, -scheduler-info-color-light);
    -scheduler-transparent-mask: #a3a3a359; /* Hue: 0, Saturation: 0, Lightness: 64, Transparency: 35 */
    -scheduler-shadow: #00000065; /* Hue: 0, Saturation: 0, Lightness: 0, Transparency: 60 */

    -scheduler-alt-dark-color: saddlebrown; /* #8b4513, Hue: 25, Saturation: 75, Lightness: 30 */
    -scheduler-alt-darker-color: derive(-scheduler-alt-dark-color, -60%);
    -scheduler-alt-dark-gradient: linear-gradient(derive(-scheduler-alt-dark-color, 20%), -scheduler-alt-darker-color);
    -fx-base: #f0e9e4; /* Hue: 25, Saturation: 30, Lightness: 92 */
    -fx-mid-text-color: #423023; /* Hue: 25, Saturation: 30, Lightness: 20 */
    -fx-selection-bar-non-focused: #decec3; /* Hue: 25, Saturation: 30, Lightness: 82 */
    -fx-page-bullet-border: #423023; /* Hue: 25, Saturation: 30, Lightness: 67 */

    -scheduler-text-color-light: gold; /* #ffd700, Hue: 255, Saturation: 215, Lightness: 0 */
    -scheduler-text-color-lighter: derive(-scheduler-text-color-light, 40%);
    -scheduler-warning-color: derive(-scheduler-text-color-light, -40%);
    -scheduler-warning-color-dark: derive(-scheduler-text-color-light, -80%);
    -scheduler-warning-gradient: linear-gradient(-scheduler-warning-color, -scheduler-warning-color-dark);

    -scheduler-error-color: firebrick; /* #b22222, Hue: 0, Saturation: 67, Lightness: 41 */
    -scheduler-error-color-dark: derive(-scheduler-error-color, -40%);
    -scheduler-error-gradient: linear-gradient(-scheduler-error-color, -scheduler-error-color-dark);
}

@font-face {
    font-family: 'Segoe UI Symbol';
    src: url('/scheduler/view/seguisym.ttf');
}

.button {
    -fx-effect: dropshadow(three-pass-box, -scheduler-shadow, 5, 0.0, 0, 1);
}

.text-area,
.text-field {
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
}

.date-picker .arrow-button {
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
}

.combo-box {
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

TextFlow .label,
TextFlow .hyperlink {
    -fx-wrap-text: true;
}

TextFlow .hyperlink {
    -fx-padding: 0px;
    -fx-border-width: 0px;
}

.table-view:row-selection .placeholder .label {
    -fx-font-style: italic;
}

.calendar HBox {
    -fx-border-color: -scheduler-info-color-dark;
    -fx-border-width: 1px;
    -fx-border-style: solid centered;
    -fx-padding: 4px;
}

.calendar .list-view {
    -fx-box-border: transparent;
}

.mainFxmlClass {
    -fx-background-color: -fx-background;
}

.boldText {
    -fx-font-weight: bold;
}

.normal-font,
.normal-font .text{
    -fx-font-size: 12px;
}

.small-font,
.small-font .text,
.small-control,
.small-control .text {
    -fx-font-size: 10px;
}

.tiny-font,
.tiny-font .text {
    -fx-font-size: 8px;
}

.alt-dark-text  {
    -fx-text-fill: -scheduler-alt-dark-color;
    -fx-fill: -scheduler-alt-dark-color;
}

.refNameText {
    -fx-text-fill: #2a3258;
    -fx-border-color: #bfbff2;
    -fx-font-weight: bold;
    -fx-border-width: 1;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11px;
    -fx-padding: 0px 2px 0px 2px;
    -fx-background-color: #e9e9fa;
    -fx-font-style: italic;
}

.error,
.bordered-section.error .validationMessage,
.bordered-section.error > .validationMessage {
    -fx-text-fill: -scheduler-error-color;
    -fx-fill: -scheduler-error-color;
}

.warning,
.bordered-section.warning .validationMessage,
.bordered-section.warning > .validationMessage {
    -fx-text-fill: -scheduler-warning-color-dark;
    -fx-fill: -scheduler-warning-color-dark;
}

.key-info {
    -fx-text-fill: -scheduler-alt-darker-color;
    -fx-fill: -scheduler-alt-darker-color;
}

.information,
.bordered-section.information .validationMessage {
    -fx-text-fill: -scheduler-info-color;
    -fx-fill: -scheduler-info-color;
}

.progress,
.bordered-section.progress .validationMessage {
    -fx-text-fill: -scheduler-info-color-dark;
    -fx-fill: -scheduler-info-color-dark;
}

.information > .text,
.warning > .text {
    -fx-font-style: italic;
}

.refNameText,
.symbolText {
    -fx-fill: -scheduler-info-color;
    -fx-stroke: -scheduler-info-color;
    -fx-stroke-width: 0.25;

}

.symbol,
.symbol-button {
    -fx-font-family: "Segoe UI Symbol", sans-serif;
}

.hyperlink.small-control {
    -fx-padding: 0px;
}

Button.small-control,
.symbol-button {
    -fx-padding: 1px 4px 1px 4px;
}

.zero-padding {
    -fx-padding: 0px;
}

.normal-padding {
    -fx-padding: 8px;
}

.wide-padding,
.view-modal-mask {
    -fx-padding: 64px;
}

.collapsed {
    -fx-label-padding: 0;
    -fx-min-height: 0;
    -fx-min-width: 0;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
    -fx-max-height: 0;
    -fx-max-width: 0;
    -fx-padding: 0;
    -fx-scale-x: 0;
    -fx-scale-y: 0;
    visibility: collapse;
}

.view-modal-mask {
    -fx-background-color: -scheduler-transparent-mask;
    -fx-background-radius: 0px;
    -fx-border-style: none;
    -fx-border-width: 0px;
}

.casts-shadow,
.view-modal-mask > * {
    -fx-effect: dropshadow(three-pass-box, -scheduler-shadow, 15.0, 0.5, 7.0, 7.0);
}

.h1,
.h1 .text,
.h1-alt,
.h1-alt .text {
    -fx-font-size: 22px;
}

.h2,
.h2 .text,
.h2-alt,
.h2-alt .text {
    -fx-font-size: 18px;
}

.h3,
.h3 .text,
.h3-alt,
.h3-alt .text,
.month-gridpane > Label {
    -fx-font-size: 16px;
}

.h4,
.h4 .text,
.h4-alt,
.h4-alt .text {
    -fx-font-size: 14px;
}

.h1,
.h2,
.h3,
.h4,
.h1-alt,
.h2-alt,
.h3-alt,
.h4-alt,
.h1 .text,
.h2 .text,
.h3 .text,
.h4 .text,
.h1-alt .text,
.h2-alt .text,
.h3-alt .text,
.h4-alt .text,
.month-gridpane > .label,
.month-gridpane > .label .text,
.month-gridpane > AnchorPane > .label,
.month-gridpane > AnchorPane > .label .text {
    -fx-font-weight: bold;
    -fx-wrap-text: true;
}

.h1,
.h2,
.h3,
.h4,
.h1 .text,
.h2 .text,
.h3 .text,
.h4 .text,
.month-gridpane > .label,
.month-gridpane > .label .text,
.month-gridpane > AnchorPane > .label,
.month-gridpane > AnchorPane > .label .text {
    -fx-text-fill: -scheduler-info-color-dark;
    -fx-fill: -scheduler-info-color-dark;
}

.h1-alt,
.h2-alt,
.h3-alt,
.h4-alt,
.h1-alt .text,
.h2-alt .text,
.h3-alt .text,
.h4-alt .text {
    -fx-font-weight: bold;
    -fx-text-fill: -scheduler-alt-darker-color;
    -fx-fill: -scheduler-alt-darker-color;
    -fx-wrap-text: true;
}

.topControlLabel {
    -fx-font-weight: bold;
    -fx-alignment: BOTTOM_LEFT;
}

.topLabeledControl {
    -fx-alignment: TOP_LEFT;
}

Labeled.topLabeledControl,
Labeled.leftLabeledControl {
    -fx-wrap-text: true;
}

.leftControlLabel,
.innerLeftControlLabel {
    -fx-font-weight: bold;
    -fx-alignment: CENTER_RIGHT;
}

Labeled.topControlLabel,
Labeled.leftControlLabel,
Labeled.innerLeftControlLabel {
    -fx-wrap-text: false;
}

.innerLeftControlLabel {
    -fx-padding: 0px 0px 0px 16px;
}

.leftLabeledControl {
    -fx-alignment: CENTER_LEFT;
}

.validationMessage,
Label.leftLabeledControl,
CheckBox.leftLabeledControl,
RadioButton.leftLabeledControl,
.bordered-section .message {
    -fx-wrap-text: true;
}

.mainFxmlClass,
.mainFxmlClass > .content,
.bordered-section > .content,
.view-modal-mask {
    -fx-max-width: infinity;
    -fx-max-height: infinity;
}

.bordered-section {
    -fx-background-color: -fx-background;
    -fx-background-radius: 8px;
    -fx-border-style: solid centered;
    -fx-border-width: 3px;
    -fx-border-color: -scheduler-info-color;
    -fx-border-radius: 8px;
}

.bordered-section.error {
    -fx-border-color: -scheduler-error-color;
}

.bordered-section.warning {
    -fx-border-color: -scheduler-warning-color;
}

.bordered-section.information {
    -fx-border-color: -scheduler-info-color;
}

.bordered-section.progress {
    -fx-border-color: -fx-page-indicator-hover-border;
}

.bordered-section > .content {
    -fx-padding: 8px;
}

.bordered-section > .left {
    -fx-padding: 8px 0px 8px 8px;
}

.bordered-section > .right {
    -fx-padding: 8px 8px 8px 0px;
}

.header,
.footer,
.bordered-section > .title {
    -fx-background-color: -scheduler-info-gradient;
    -fx-border-style: none;
    -fx-border-width: 0px;
    -fx-max-width: infinity;
    -fx-alignment: CENTER;
    -fx-padding: 4px;
}

.header,
.footer,
.bordered-section > .title,
.header .text,
.footer .text,
.bordered-section > .title .text {
    -fx-text-fill: -scheduler-text-color-light;
    -fx-fill: -scheduler-text-color-light;
}

.header .button,
.footer .button,
.header .combo-box,
.footer .combo-box {
    -fx-background-color: -scheduler-alt-dark-gradient;
    -fx-text-fill: -scheduler-text-color-light;
    -fx-fill: -scheduler-text-color-light;
}

.footer .combo-box .list-view .virtual-flow .list-cell .text {
    -fx-text-fill: -fx-dark-text-color;
    -fx-fill: -fx-dark-text-color;
}

.header .symbol-button,
.footer .symbol-button,
.header .symbol-button .text,
.footer .symbol-button .text {
    -fx-font-weight: bold;
    -fx-background-color: -scheduler-alt-dark-gradient;
    -fx-text-fill: -scheduler-text-color-light;
    -fx-fill: -scheduler-text-color-light;
    -fx-padding: -2px 6px -2px 6px;
}

.bordered-section > .header,
.bordered-section > .title {
    -fx-background-radius: 8px 8px 0px 0px;
}

.bordered-section > .footer {
    -fx-background-radius: 0px 0px 8px 8px;
}

.header.error,
.footer.error,
.bordered-section.error > .title,
.bordered-section.error > .header,
.bordered-section.error > .footer {
    -fx-background-color: -scheduler-error-gradient;
}

.header.error,
.footer.error,
.bordered-section.error > .title,
.bordered-section.error > .header,
.bordered-section.error > .footer,
.header.error .text,
.footer.error .text,
.bordered-section.error > .title .text,
.bordered-section.error > .header .text,
.bordered-section.error > .footer .text {
    -fx-text-fill: -scheduler-text-color-light;
    -fx-fill: -scheduler-text-color-light;
}

.header.warning,
.footer.warning,
.bordered-section.warning > .title,
.bordered-section.warning > .header,
.bordered-section.warning > .footer {
    -fx-background-color: -scheduler-warning-gradient;
}

.header.warning,
.footer.warning,
.bordered-section.warning > .title,
.bordered-section.warning > .header,
.bordered-section.warning > .footer,
.header.warning .text,
.footer.warning .text,
.bordered-section.warning > .title .text,
.bordered-section.warning > .header .text,
.bordered-section.warning > .footer .text {
    -fx-text-fill: white;
    -fx-fill: white;
}

.header.information,
.footer.information,
.bordered-section.information > .title,
.bordered-section.information > .header,
.bordered-section.information > .footer {
    -fx-background-color: -scheduler-info-gradient;
}

.header.information,
.footer.information,
.bordered-section.information > .title,
.bordered-section.information > .header,
.bordered-section.information > .footer,
.header.information .text,
.footer.information .text,
.bordered-section.information > .title .text,
.bordered-section.information > .header .text,
.bordered-section.information > .footer .text {
    -fx-text-fill: -scheduler-text-color-lighter;
    -fx-fill: -scheduler-text-color-lighter;
}

.header.progress,
.footer.progress,
.bordered-section.information > .title,
.bordered-section.progress > .header,
.bordered-section.progress > .footer,
.header.progress .text,
.footer.progress .text,
.bordered-section.progress > .title .text,
.bordered-section.progress > .header .text,
.bordered-section.progress > .footer .text {
    -fx-text-fill: -scheduler-info-color-dark;
    -fx-fill: -scheduler-info-color-dark;
}

.header.progress,
.footer.progress,
.bordered-section.progress > .title,
.bordered-section.progress > .header,
.bordered-section.progress > .footer {
    -fx-background-color: -scheduler-progress-gradient;
}

.tree-view.appointments .virtual-flow .clipped-container .sheet .tree-cell HBox {
    -fx-padding: 0px;
    -fx-border-style: solid centered;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: -scheduler-alt-dark-color;
}

.tree-view.appointments .day-group {
    -fx-font-size: 12px;
    -fx-text-fill: -scheduler-info-color;
    -fx-fill: -scheduler-info-color;
    -fx-font-weight: bold;
    -fx-padding: 0px;
}

.tree-view.appointments .virtual-flow .clipped-container .sheet .tree-cell HBox.first-item {
    -fx-border-width: 1px 0px 1px 0px;
}

/* The calendar cell */
.month-gridpane > VBox {
    -fx-font-size: 10px;
    -fx-border-style: solid centered;
    -fx-border-width: 2px;
    -fx-border-color: -scheduler-info-color;
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
}

/* Outer empty calendar cells */
.month-gridpane > .empty-cell {
    -fx-border-style: solid centered;
    -fx-border-width: 1px;
    -fx-border-color: -scheduler-info-color;
    -fx-background-color: -fx-background;
}

/* Labels containing names of days */
.month-gridpane > .label,
.month-gridpane > .label .text {
    -fx-alignment: CENTER;
    -fx-max-width: infinity;
    -fx-max-height: infinity;
}

/* Contains information for an appointment */
.month-gridpane > VBox > TextFlow {
    -fx-border-color: -scheduler-alt-dark-color;
    -fx-border-width: 1 0 0 0;
}

/* First appointment in calendar cell */
.month-gridpane > VBox > TextFlow.first-item {
    -fx-border-width: 0;
}

/* The month number */
.month-gridpane > VBox > TextFlow > .label {
    -fx-min-width: 20px;
    -fx-background-color: -scheduler-info-color;
    -fx-alignment: CENTER;
    -fx-padding: 1px 2px 1px 2px;
}

.month-gridpane > VBox > TextFlow > .label .text {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: -scheduler-text-color-lighter;
    -fx-fill: -scheduler-text-color-lighter;
}

.month-gridpane > VBox > TextFlow.repeating > Text,
.month-gridpane > VBox > TextFlow.repeating > Text .text {
    -fx-text-fill: -fx-mid-text-color;
    -fx-fill: -fx-mid-text-color;
}

.month-gridpane > VBox > TextFlow.repeating > .symbol,
.month-gridpane > VBox > TextFlow.repeating > .symbol .text {
    -fx-text-fill: -scheduler-alt-dark-color;
    -fx-fill: -scheduler-alt-dark-color;
}

.month-gridpane > VBox > TextFlow > .hyperlink {
    -fx-font-weight: bold;
    -fx-padding: 0px;
}

.month-gridpane > VBox > TextFlow.first-item > .hyperlink {
    -fx-padding: 0px 0px 0px 2px;
}
