.root {
    -fx-font-size: 12px;
    -fx-font-family: Arial, Helvetica, sans-serif;
}

.mainFxmlClass {
    -fx-background-color: #ffffff;
}

.translucentGrayBg {
    -fx-background-color: #7f7f7f7f;
}

.bordered, .busy-container {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.busy-container {
    -fx-background-color: #ebe8cb;
}

.topControlLabel {
    -fx-font-weight: bold;
    -fx-alignment: bottom-left;
}

.topLabeledControl {
    -fx-alignment: top-left;
}

.leftControlLabel {
    -fx-font-weight: bold;
    -fx-alignment: top-right;
}

.leftLabeledControl {
    -fx-alignment: top-left;
}

Labeled.leftLabeledControl {
    -fx-wrap-text: true;
}

.collapsed {
    -fx-label-padding: 0;
    -fx-min-height: 0;
    -fx-min-width: 0;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
    -fx-max-height: 0;
    -fx-max-width: 0;
    -fx-padding: 0;
    -fx-scale-x: 0;
    -fx-scale-y: 0;
    visibility: collapse;
}

.h1, .h2, .h3, .page-heading, .section-heading, .sub-section-heading, .busy-heading, .popup-heading {
    -fx-text-fill: darkslateblue;
    -fx-font-weight: bold;
}

Text.h1, Text.h2, Text.h3, Text.section-heading, Text.sub-section-heading {
    -fx-fill: #2a3258;
}

.h1, .h2, .page-heading, .section-heading, .popup-heading, .busy-heading {
    -fx-padding: 4;
    -fx-max-width: 32768;
}

.page-heading, .popup-heading, .busy-heading {
    -fx-font-size: 18px;
}

.popup-heading, .busy-heading {
    -fx-border-radius: 8 8 0 0;
    -fx-background-radius: 8 8 0 0;
}

.popup-heading, .page-heading {
    -fx-background-color: linear-gradient(#ccff99, #99ff66);
    -fx-border-color: linear-gradient(#99ff66, #ccff99);
}

.section-heading {
    -fx-font-size: 16px;
    -fx-background-color: linear-gradient(from 25% 100% to 100% 0%, #ccff99, #99ff66);
    -fx-border-color: linear-gradient(from 25% 100% to 100% 0%, #99ff66, #ccff99);
}

.busy-heading {
    -fx-background-color: linear-gradient(#e2e5b2, #d3d88b);
    -fx-border-color: linear-gradient(#d3d88b, #e2e5b2);
}

.h2, .sub-section-heading {
    -fx-font-size:14px;
}

.section-container {
    -fx-padding: 4;
    -fx-border-color: #99ff66;
    -fx-border-radius: 0 0 8 8;
    -fx-background-radius: 0 0 8 8;
}

.error, .formControlValidationMessage {
    -fx-text-fill: firebrick;
    -fx-wrap-text: true;
}

.error Label, Label.error {
    -fx-alignment: top-left;
    -fx-padding: 0px 0px 0px 0px;
}

.infoMessage, .warningMessage {
    -fx-font-style: italic;
}

.warningMessage {
    -fx-text-fill: darkgoldenrod;
}

.infoMessage {
    -fx-text-fill: dimgray;
}

.text-area {
    -fx-border-color: linear-gradient(#6192b1, #2a3d58);
    -fx-border-radius: 2;
    -fx-background-radius: 2;
}

.text-field {
    -fx-border-color: linear-gradient(#6192b1, #2a3d58);
    -fx-border-radius: 2;
    -fx-background-radius: 2;
}

.date-picker .arrow-button {
    -fx-background-color: linear-gradient(#d9ddec, #afbdd9);
    -fx-border-color: linear-gradient(#6192b1, #2a3d58);
    -fx-border-radius: 2;
    -fx-background-radius: 2;
}

.combo-box {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#d9ddec, #afbdd9);
    -fx-border-color: linear-gradient(#6192b1, #2a3d58);
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.button, .small-button, .symbol-button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#6176b1, #2a3258);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6) , 5, 0.0, 0, 1);
}

.small-button, .symbol-button {
    -fx-font-size: 10px;
    -fx-padding: 1px 4px 1px 4px;
}

.symbol-button {
    -fx-font-family: "Segoe UI Symbol", sans-serif;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

Text.refNameText, Label.refNameText {
    -fx-font-style: italic;
}

Text.refNameText {
    -fx-fill: #2a3258;
    -fx-stroke: #2a3258;
    -fx-stroke-width: 0.25;
    
}

Label.refNameText {
    -fx-text-fill: #2a3258;
    -fx-border-color: #bfbff2;
    -fx-font-weight: bold;
    -fx-border-width: 1;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11px;
    -fx-padding: 0px 2px 0px 2px;
    -fx-background-color: #e9e9fa;
}

TextFlow > .label, TextFlow > .hyperlink {
    -fx-wrap-text: true;
}

TextFlow > .hyperlink {
    -fx-padding: 0px;
    -fx-border-width: 0px;
}
