.root {
    -fx-font-size: 12px;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -scheduler-font-size-h1: 18px;
    -scheduler-font-size-h2: 16px;
    -scheduler-font-size-h3: 14px;
    -scheduler-font-size-small: 10px;
    
    -scheduler-dark-color: forestgreen; /* #228b22, Hue: 120, Saturation: 60, Lightness: 33 */
    -scheduler-darker-color: derive(-scheduler-dark-color, -40%);
    -scheduler-dark-gradient: linear-gradient(derive(-scheduler-dark-color, 40%), -scheduler-darker-color);
    
    -scheduler-alt-dark-color: saddlebrown; /* #8b4513, Hue: 25, Saturation: 75, Lightness: 30 */
    -scheduler-alt-darker-color: derive(-scheduler-alt-dark-color, -60%);
    -scheduler-alt-dark-gradient: linear-gradient(derive(-scheduler-alt-dark-color, 20%), -scheduler-alt-darker-color);
    -fx-base: #eee9e6; /* Hue: 25, Saturation: 20, Lightness: 92 */
    -fx-mid-text-color: #423023; /* Hue: 25, Saturation: 30, Lightness: 20 */
    -fx-selection-bar-non-focused: #dbd1ca; /* Hue: 25, Saturation: 20, Lightness: 82 */
    -fx-page-bullet-border: #bca99b; /* Hue: 25, Saturation: 20, Lightness: 67 */
    
    -scheduler-light-color: gold; /* #ffd700, Hue: 255, Saturation: 215, Lightness: 0 */
    -scheduler-lighter-color: derive(-scheduler-light-color, 40%);
    -scheduler-warning-color: derive(-scheduler-light-color, -40%);
    -scheduler-warning-color-dark: derive(-scheduler-light-color, -80%);
    -scheduler-warning-gradient: linear-gradient(-scheduler-warning-color, -scheduler-warning-color-dark);
    
    -scheduler-error-color: firebrick; /* #b22222, Hue: 0, Saturation: 67, Lightness: 41 */
    -scheduler-error-color-darker: derive(-scheduler-error-color, -40%);
    -scheduler-error-gradient: linear-gradient(-scheduler-error-color, -scheduler-error-color-darker);
    
    -scheduler-info-color: blueviolet; /* #8a2be2, Hue: 271, Saturation: 75, Lightness: 52 */
    -scheduler-info-color-light: derive(-scheduler-info-color, 40%);
    -scheduler-info-color-dark: derive(-scheduler-info-color, -40%);
    -scheduler-info-color-darker: derive(-scheduler-info-color, -80%);
    -scheduler-info-gradient: linear-gradient(-scheduler-info-color-dark, -scheduler-info-color-darker);
    -fx-accent: #6700c9; /* Hue: 271, Saturation: 100, Lightness: 39 */
    -fx-default-button: #cdabed; /* Hue: 271, Saturation: 64, Lightness: 80 */
    -fx-focus-color: #6e02d3; /* Hue: 271, Saturation: 97, Lightness: 41 */
    -fx-faint-focus-color: #6e02d322;
    -fx-cell-hover-color: #e0ccf4; /* Hue: 271, Saturation: 64, Lightness: 87 */
    -fx-page-indicator-hover-border: #c9ace5; /* Hue: 271, Saturation: 52, Lightness: 78 */
}

@font-face {
    font-family: 'Segoe UI Symbol';
    src: url('/scheduler/view/seguisym.ttf');
}

.button {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6) , 5, 0.0, 0, 1);
}

/*
.button {
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6) , 5, 0.0, 0, 1);
}

.progress-indicator:determinate .determinate-indicator .progress {
    -fx-background-color: -scheduler-dark-gradient;
}

.progress-indicator:indeterminate *.segment {
    -fx-background-color: -scheduler-dark-gradient;
}

.progress-indicator:determinate .determinate-indicator .percentage {
    -fx-fill: dimgray;
}

*/

.text-area, .text-field {
    -fx-border-radius: 2;
    -fx-background-radius: 2;
}

.date-picker .arrow-button {
    -fx-border-radius: 2;
    -fx-background-radius: 2;
}

.combo-box {
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.scroll-pane, .scroll-pane .viewport {
    -fx-background-color: transparent;
}

TextFlow > .label, TextFlow > .hyperlink {
    -fx-wrap-text: true;
}

TextFlow > .hyperlink {
    -fx-padding: 0px;
    -fx-border-width: 0px;
}

.table-view:row-selection .placeholder .label {
    -fx-font-style: italic;
}

.mainFxmlClass {
    -fx-background-color: -fx-background;
}

.translucentGrayBg {
    -fx-background-color: #7f7f7f7f;
}

.topControlLabel {
    -fx-font-weight: bold;
    -fx-alignment: bottom-left;
}

.topLabeledControl {
    -fx-alignment: top-left;
}

.leftControlLabel, .innerLeftControlLabel {
    -fx-font-weight: bold;
    -fx-alignment: top-right;
}

.innerLeftControlLabel {
    -fx-padding: 0px 0px 0px 16px;
}

.leftLabeledControl {
    -fx-alignment: top-left;
}

Labeled.leftLabeledControl {
    -fx-wrap-text: true;
}

.view-modal-mask {
    -fx-background-color: #7f7f7f7f;
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-padding: 16;
}

.bordered {
    -fx-border-color: -scheduler-darker-color;
    -fx-border-width: 2;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.bordered.error, .view-modal-container.error .view-modal-heading {
    -fx-border-color: -scheduler-error-gradient;
}

.bordered.warning, .view-modal-container.warning .view-modal-heading {
    -fx-border-color: -scheduler-warning-gradient;
}

.heading {
    -fx-text-fill: -scheduler-dark-color;
    -fx-font-weight: bold;
}

.heading.dark {
    -fx-background-color: -scheduler-dark-gradient;
    -fx-padding: 4;
    -fx-max-width: infinity;
    -fx-text-fill: -scheduler-light-color;
}

.page-heading {
    -fx-background-color: -scheduler-dark-gradient;
    -fx-text-fill: -scheduler-lighter-color;
    -fx-font-weight: bold;
    -fx-padding: 4;
    -fx-max-width: infinity;
    -fx-font-size: 18px;
    -fx-alignment: CENTER;
}

.section-heading {
    -fx-background-color: -scheduler-dark-gradient;
    -fx-text-fill: -scheduler-lighter-color;
    -fx-font-weight: bold;
    -fx-background-radius: 24 0 24 0;
    -fx-padding: 4 16 4 16;
    -fx-max-width: infinity;
    -fx-font-size: 16px;
}

h1 {
    -fx-text-fill: -scheduler-darker-color;
    -fx-fill: -scheduler-darker-color;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.sub-section-heading {
    -fx-text-fill: -scheduler-darker-color;
    -fx-fill: -scheduler-darker-color;
    -fx-font-weight: bold;
    -fx-font-size:14px;
}

.h2 {
    -fx-text-fill: -scheduler-darker-color;
    -fx-fill: -scheduler-darker-color;
    -fx-font-weight: bold;
    -fx-font-size:14px;
}

.h3 {
    -fx-text-fill: -scheduler-darker-color;
    -fx-fill: -scheduler-darker-color;
    -fx-font-weight: bold;
}

.bordered-section-container {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.bordered-section-heading {
    -fx-background-color: -scheduler-dark-gradient;
    -fx-text-fill: -scheduler-lighter-color;
    -fx-font-weight: bold;
    -fx-background-radius: 6px 6px 0px 0px;
    -fx-padding: 4px;
    -fx-font-size: 16px;
    -fx-max-width: infinity;
    -fx-alignment: CENTER;
}

.bordered-section-content {
    -fx-background-color: -fx-background;
    -fx-background-radius: 0px 0px 8px 8px;
    -fx-border-style: solid inside;
    -fx-border-color: -scheduler-dark-color;
    -fx-border-width: 0 3 3 3;
    -fx-border-radius: 0px 0px 8px 8px;
    -fx-max-width: infinity;
    -fx-max-height: infinity;
    -fx-padding: 4px 7px 7px 7px;
}

.view-modal-container {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 15.0, 0.5, 7.0, 7.0);
    -fx-border-style: solid centered;
    -fx-border-color: -scheduler-dark-color;
    -fx-border-width: 3;
    -fx-border-radius: 8;
    -fx-padding: 0;
}

.view-modal-heading {
    -fx-background-color: -scheduler-dark-gradient;
    -fx-background-radius: 8 8 0 0;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-padding: 4;
    -fx-max-width: infinity;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: -scheduler-light-color;
    -fx-alignment: CENTER;
}

.view-modal-content {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-max-width: infinity;
    -fx-max-height: infinity;
    -fx-padding: 4px 7px 4px 7px;
}

.view-modal-left-content {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-max-width: infinity;
    -fx-max-height: infinity;
    -fx-padding: 4px 0px 4px 7px;
}

.view-modal-center-content {
    -fx-background-color: white;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-max-width: infinity;
    -fx-max-height: infinity;
    -fx-padding: 4px;
}

.view-modal-right-content {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-max-width: infinity;
    -fx-max-height: infinity;
    -fx-padding: 4px 7px 4px 0px;
}

.view-modal-buttons {
    -fx-background-color: -scheduler-dark-gradient;
    -fx-background-radius: 0 0 9 9;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-padding: 4;
}

.view-modal-buttons .button {
    -fx-background-color: -scheduler-alt-dark-gradient;
    -fx-text-fill: -scheduler-lighter-color;
}

.wait-heading, .popup-heading {
    -fx-background-color: -scheduler-dark-gradient;
    -fx-text-fill: -scheduler-lighter-color;
    -fx-font-weight: bold;
}

.popup-heading, .wait-heading {
    -fx-padding: 4;
    -fx-max-width: infinity;
}

.popup-heading, .wait-heading {
    -fx-font-size: 18px;
}

.popup-heading, .wait-heading {
    -fx-border-radius: 8 8 0 0;
    -fx-background-radius: 8 8 0 0;
}

.popup-heading {
    -fx-background-color: -scheduler-dark-gradient;
    -fx-border-color: -scheduler-dark-gradient;
    -fx-alignment: CENTER;
}

.popup-container {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 15.0, 0.5, 7.0, 7.0);
    -fx-background-color: white;
    -fx-background-radius: 9;
}

.popup-content {
    -fx-border-color: -scheduler-darker-color;
    -fx-border-width: 2;
    -fx-border-radius: 0 0 8 8;
    -fx-background-color: white;
    -fx-background-radius: 0 0 9 9;
    -fx-padding: 8;
}

.popup-content-center {
    -fx-border-color: -scheduler-darker-color;
    -fx-border-width: 0 2 0 2;
    -fx-background-color: white;
    -fx-padding: 8;
}

.popup-content-footer {
    -fx-border-color: -scheduler-darker-color;
    -fx-border-width: 0 2 2 2;
    -fx-background-color: white;
    -fx-padding: 0 8 8 8;
    -fx-background-radius: 0 0 9 9;
    -fx-border-radius: 0 0 8 8;
}

.section-container {
    -fx-padding: 4;
    -fx-border-color: #99ff66;
    -fx-border-radius: 0 0 8 8;
    -fx-background-radius: 0 0 8 8;
}

.wait-accordion {
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-background-color: -scheduler-warning-color-darker;
}

.wait-titled-pane {
    -fx-background-color: transparent;
}

.wait-titled-pane .title {
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-background-color: -scheduler-warning-gradient;
    -fx-border-color: -scheduler-warning-gradient;
}

.wait-titled-pane .title .text {
    -fx-fill: gold;
    -fx-font-weight: bold;
}

.wait-titled-pane:expanded .content {
    -fx-padding: 4;
    -fx-background-color: white;
    -fx-border-radius: 0 0 8 8;
    -fx-background-radius: 0 0 8 8;
    -fx-border-color: -scheduler-warning-color-darker;
}

.wait-titled-pane:expanded .title {
    -fx-border-radius: 8 8 0 0;
    -fx-background-radius: 8 8 0 0;
}

.wait-titled-pane:expanded .title .text {
    -fx-fill: white;
}

.wait-accordion .titled-pane .title {
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-background-color: -scheduler-warning-gradient;
    -fx-border-color: -scheduler-warning-gradient;
}

.wait-accordion .error-titled-pane .title {
    -fx-background-color: -scheduler-error-gradient;
    -fx-border-color: -scheduler-error-gradient;
}

.wait-accordion .titled-pane .title .text {
    -fx-fill: gold;
    -fx-font-weight: bold;
}

.wait-accordion .error-titled-pane .title .text {
    -fx-fill: -scheduler-warning-color;
}

.wait-accordion .titled-pane:expanded .title {
    -fx-border-radius: 8 8 0 0;
    -fx-background-radius: 8 8 0 0;
}

.wait-accordion .titled-pane:expanded .title .text {
    -fx-fill: white;
}

.wait-accordion .titled-pane:expanded .content {
    -fx-padding: 4;
    -fx-background-color: white;
    -fx-border-radius: 0 0 8 8;
    -fx-background-radius: 0 0 8 8;
    -fx-border-color: -scheduler-warning-color-darker;
}

.wait-accordion .error-titled-pane:expanded .content {
    -fx-border-color: -scheduler-error-color-darker;
}

.wait-border {
    -fx-border-color: -scheduler-warning-color;
    -fx-background-color: -scheduler-warning-color-darker;
}

.wait-heading {
    -fx-background-color: -scheduler-warning-gradient;
    -fx-border-color: linear-gradient(#d3d88b, #e2e5b2);
}

.error, .formControlValidationMessage {
    -fx-text-fill: -scheduler-error-color;
    -fx-wrap-text: true;
}

.error Label, Label.error {
    -fx-alignment: top-left;
    -fx-padding: 0px 0px 0px 0px;
}

.infoMessage, .warningMessage {
    -fx-font-style: italic;
}

.warningMessage {
    -fx-text-fill: -scheduler-warning-color-darker;
}

.infoMessage {
    -fx-text-fill: dimgray;
}

.symbol, .symbol-button {
    -fx-font-family: "Segoe UI Symbol", sans-serif;
}

.small-button, .symbol-button {
    -fx-font-size: 10px;
    -fx-padding: 1px 4px 1px 4px;
}

Text.refNameText, Label.refNameText {
    -fx-font-style: italic;
}

Text.refNameText, Text.symbolText {
    -fx-fill: #2a3258;
    -fx-stroke: #2a3258;
    -fx-stroke-width: 0.25;
    
}

.boldText {
    -fx-font-weight: bold;
}

Label.refNameText {
    -fx-text-fill: #2a3258;
    -fx-border-color: #bfbff2;
    -fx-font-weight: bold;
    -fx-border-width: 1;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11px;
    -fx-padding: 0px 2px 0px 2px;
    -fx-background-color: #e9e9fa;
}


.calendar HBox {
    -fx-border-color: -scheduler-darker-color;
    -fx-border-width: 1px;
    -fx-border-style: solid centered;
    -fx-padding: 4px;
}

.calendar .list-view {
    -fx-box-border: transparent;
}

.zero-padding {
    -fx-padding: 0px;
}

.collapsed {
    -fx-label-padding: 0;
    -fx-min-height: 0;
    -fx-min-width: 0;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
    -fx-max-height: 0;
    -fx-max-width: 0;
    -fx-padding: 0;
    -fx-scale-x: 0;
    -fx-scale-y: 0;
    visibility: collapse;
}
